<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>401</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <a href="/">Go back</a>

  <h1>401</h1>
  <p>You don't have access to that page!</p>
  <p><%= errorMsg %></p>

</body>

</html>