<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <a href="/">Go Back</a>
  <h1><%= title %></h1>
  <p>do you have what it takes to be an admin????? :3c</p>
  <%- include("partials/error.ejs") %>
  <form action="/admin" method="post">
    <p>
      <label for="admin-pw">What is the ULTRA SECRET ADMIN PASSWORD??? </label>
      <input type="password" id="admin-pw" name="admin-pw" required />
    </p>
    <button type="submit">Submit</button>
  </form>
</body>

</html>