<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <h1><%= title %></h1>

  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>

  <%- include("partials/error.ejs") %>

  <% if (locals.currentUser) {%>
  <a href="/logout">Log Out</a>

  <!-- access: user -->
  <p>You are logged in, <%= currentUser.username %>!</p>
  <% if (!currentUser.member && !currentUser.admin) {%>
  <a href="/join">Become a Member~</a>
  <% } %>

  <!-- access: user, member -->
  <% if (currentUser.member && !currentUser.admin) {%>
  <p>You are a MEMBER of the club!</p>
  <a href="/admin">Become an Admin?!</a>
  <% } %>

  <!-- access: user, member, admin -->
  <% if (currentUser.member && currentUser.admin) {%>
  <p>All hail, the almighty ADMIN!</p>
  <% } %>

  <a href="/create">Create a Message</a>



  <% } %>
</body>

</html>