body {
  background-color: #183c5f;
  color: blanchedalmond;
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(158, 158, 247);
  margin: 10px;
}

a:visited {
  color: rgb(216, 108, 216);
}